*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
 }
 
 
 header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(b.jpg);
    height: 10vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
 }
 
 
 ul{
    float: inline-start;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 40px;
    font-size: 16px;
 }
 
 
 ul li {
    display: inline-block;
 
 
 }
 
 
 ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
 }
 
 
 ul li a:hover{
    background-color: #fff;
    color: #000;
 
 
 }
 
 
 ul li.active a{
    background-color: #fff;
    color: #000;
 }
 
 
 .main{
    max-width: 1200px;
    margin: auto;
 }
 
 
 .body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
 }
 
 
 .header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
 }
 
 
 .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
 }
 
 
 .product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: white;
    transition: transform 0.3s;
 }
 
 
 .product img{
    height: 50vh;
 }
 
 
 .product:hover {
    transform: scale(1.05);
 }
 
 
 .product a{
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 1px;
    transition: transform 0.3s ease-in-out;
 }
 